body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

input, select, button {
  width: 90%;
  padding: 10px;
  margin: 8px;
}

#thumb {
  width: 250px;
  display: none;
  margin: auto;
}

.barWrap {
  width: 90%;
  height: 20px;
  border: 1px solid black;
  margin: auto;
}

#bar {
  height: 100%;
  width: 0%;
  background: green;
}
