@font-face {
  font-family: "Clash";
  src: url('../font/ClashDisplay.ttf');
}

@font-face {
  font-family: "Tropic";
  src: url('../font/Tropical.ttf');
}

@font-face {
  font-family: "Fuji";
  src: url('../font/Fuij.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #c72727;
  --text: #ffffff;
}


body {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopicText {
  height: 15vh;
  width: 90%;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fuji';
  font-size: clamp(20px, 10vw, 80px);
  letter-spacing: 3px;
  color: var(--text);
}

.container {
  height: 80vh;
  width: 90%;
  display: flex;
  /* border: 5px solid var(--text); */
}

.left {
  /* border: 1px solid var(--text); */
  height: 100%;
  width: 50%;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 5px;
    background-color: var(--text);
    right: 0;
    top: 0;
    /* border-radius: 10px; */
  }
}

.left-topic {
  font-family: 'Fuji';
  color: var(--text);
  letter-spacing: 2px;
  font-size: clamp(20px, 10vw, 40px);
}

.youtube-url-form {
  height: 15%;
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid var(--text); */
}

.youtube-url-input {
  /* border: 1px solid var(--text); */
  height: 40%;
  width: 80%;
  border: none;
  outline: none;
  color: var(--text);
  font-weight: 800;
  font-family: 'Clash';
  font-size: 20px;
  padding-left: 5px;
  letter-spacing: 1.5px;
  background-color: transparent;
  border-bottom: 2px solid var(--text);
}

.youtube-url-input::placeholder {
  color: var(--text);
}

.thumbnail-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 80%;
  /* gap: 20px; */
  /* border: 1px solid var(--text); */
}

.thumbnail-title {
  font-family: 'Fuji';
  margin-top: 5vh;
  color: var(--text);
  letter-spacing: 2px;
  font-size: clamp(20px, 10vw, 40px);
}

.thumbnail-image {
  height: 100%;
  margin-top: 5vh;
  width: 100%;
  border: 1px solid var(--text);
}

.right {
  width: 50%;
  height: 100%;
  /* border: 1px solid var(--text); */
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.Filename-Container {
  height: 20%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* border: 1px solid var(--text); */
  width: 100%;
}

.Filename-title {
  font-family: 'Fuji';
  /* margin-top: 5vh; */
  color: var(--text);
  letter-spacing: 2px;
  font-size: clamp(20px, 10vw, 40px);
}

.Filename-input {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid var(--text); */
}

.youtube-filename-input {
  height: 40%;
  width: 100%;
  border: none;
  outline: none;
  color: var(--text);
  font-weight: 800;
  font-family: 'Clash';
  font-size: 20px;
  padding-left: 5px;
  letter-spacing: 1.5px;
  background-color: transparent;
  border-bottom: 2px solid var(--text);
}

.youtube-filename-input::placeholder {
  color: var(--text);
}

.Select-Format-container{
  height: 10%;
  width: 100%;
  /* border: 1px solid var(--text); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Select-container{
  width: 25%;
  height: 50%;
  color: var(--bg);
  background-color: var(--text);
  border: none;
  outline: none;
  font-family: 'Clash';
  font-weight: 800;
  letter-spacing: 1px;
  font-size: clamp(15px,10vw,18px);
}

.Select-container option{
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--bg); 
}

.Quality-Div{
  height: 100%;
  width: 50%;
  /* padding: 0 20px; */
  /* border: 1px solid var(--text); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Quality-container{
  width: fit-content;
  padding: 0 10px;
  height: 50%;
  color: var(--bg);
  background-color: var(--text);
  border: none;
  outline: none;
  font-family: 'Clash';
  font-weight: 800;
  letter-spacing: 1px;
  font-size: clamp(15px,10vw,18px);
}

.Quality-container option{
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--bg); 
}